<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.audiobookapp">

    <!-- Permissions for Internet & Notifications -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Permission required for foreground services on modern Android -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioBookApp"
        android:usesCleartextTraffic="true">

        <!-- Activities -->
        <activity
            android:name=".Login_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AudioBooks" android:exported="false" />
        <activity android:name=".about_book" android:exported="false" />
        <activity android:name=".summary" android:exported="false" />
        <activity android:name=".Formulaire" android:exported="false" />
        <activity android:name=".ChaptersActivity" android:exported="false" />
        <activity android:name=".ChapterActivity" android:exported="false" />

        <!-- Service Declarations -->
        <service
            android:name=".AudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".model.DownloadChapterService"
            android:exported="false" />

    </application>

</manifest>
